@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
:root {
  height: 100%;
  font-family: var(--font-poppins);
}

/* [data-theme="dark"] body {
  background-color: #000;
  color: #fff;
}

[data-theme="light"] body {
  background-color: #fafafa;
  color: #000;
} */
